/* Start Display */
.d-flex {display: flex;}
.f-wrap{flex-wrap: wrap;}
.d-grid{display: grid;}
.d-block{display: block;}
.d-in-block{display:inline-block;}
.gap-20{gap:20px;}
.align-center {align-items: center;}
.space-between{justify-content: space-between;}
.w-full {width: 100%;}
.w-fit {width: fit-content;}
.txt.align{
    text-align: center;
}

@media (max-width:767px) {
    .block-mobile{
        display: block;
    }
    .hide-mobile{
        display: none;
    }
}
/* End Display */
/* Start Padding & Margin */
.p-10 {padding: 10px;}
.p-15 {padding: 15px;}
.p-20 {padding:20px;}
.pt-5 {padding-top:5px;}
.pt-20 {padding-top:20px;}
.pb-20 {padding-bottom:20px;}
.pl-15 {padding:15px;}
.m-5 {margin:5px;}
.m-15 {margin:15px;}
.m-20 {margin:20px;}
.mt-0 {margin-top: 0;}
.mt-5 {margin-top: 5px;}
.mt-10 {margin-top: 10px;}
.mt-15 {margin-top: 15px;}
.mt-20 {margin-top: 20px;}
.mt-25 {margin-top: 25px;}
.mt-45 {margin-top: 45px;}
.mr-10 {margin-right: 10px;}
.mr-15 {margin-right: 15px;}
.mb-5 {margin-bottom: 5px;}
.mb-10 {margin-bottom: 10px;}
.mb-15 {margin-bottom: 15px;}
.mb-20 {margin-bottom: 20px;}
.mb-25 {margin-bottom: 25px;}
.ml-2 {margin-left: 2px;}
/* End Padding & Margin */
/* Start Color */
/* Color Theme Swatches in Hex */
.c-gold { color: #D9B589; }
.c-gold-alt { color: #A66F3F; }
.c-red{ color: #730303; }
.c-red-alt { color: #630303; }
.c-red-3{ color: #400101; }
.c-white{color:white;}
.c-sub{color: #a7a7a7;}
.c-black{color: #121212;}
.c-black-alt{color: #2b2b2b;}

.bg-black{background-color: #121212;}
.bg-black-alt{background-color: #2b2b2b;}
.bg-sub{background-color: #a7a7a7;}
.bg-red{ background-color: #730303; }
.bg-red-alt { background-color: #630303; }
.bg-red-3{ background-color: #400101; }
.bg-gold { background-color: #D9B589; }
.bg-gold-alt { background-color: #A66F3F; }


/* Start Color */
/* Start position */
.p-relative {position: relative;}
/* End position */
/* Start Font */
.txt-c {text-align: center;}
.fs-14 {font-size: 14px;}
.fs-13 {font-size: 13px;}
.fs-15 {font-size: 15px;}
.fs-16 {font-size: 16px;}
.fs-24 {font-size: 24px;}
.fs-28 {font-size: 28px;}
.txt-tf-c{text-transform: capitalize;}
.txt-tf-uc{text-transform: uppercase;}
.fw-bold{font-weight: bold;}

@media (max-width:767px) {
    .txt-c-mobile{
        text-align: center;
    }
}
/* End Font */
/* Start Border */
.b-none{border: none;}
.rad-8 {border-radius: 8px;}
.rad-10 {border-radius: 10px;}
.rad-half {border-radius: 50%;}
/* End Border */
/* Start Components */
.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape{
    padding: 7px 16px;
    border-radius: 8px;
    background-color: #D9B589;
    border: none;
    font-size: 14px;
    color:#121212
}
.line{
    height: 1px;
    width: 100%;
    background-color: var(--main-color);
    margin-top: 40px;
    margin-bottom: 40px;
}
  .line.head{
    margin-top: 20px;
    margin-bottom: 40px;
}
/* End Components */



/* 
.encore-dark-theme, .encore-dark-theme .encore-base-set {
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0,0%,100%,.07);
    --background-tinted-highlight: hsla(0,0%,100%,.1);
    --background-tinted-press: hsla(0,0%,100%,.04);
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #f15e6c;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
}
*/