/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #D9B589;
  --main-color-alt: #A66F3F;
  --special-color: #A62205;
  --background-color: #730303;
  --background-color-alt: #630303;
  --main-transition: 0.4s;
  --main-padding: 100px;
  --main-radius: 8px;
}

/* Color Theme Swatches in Hex */
/* .Fashion-1-hex { color: #D9B589; }
.Fashion-2-hex { color: #A66F3F; }
.Fashion-3-hex { color: #A62205; }
.Fashion-4-hex { color: #400101; }
.Fashion-5-hex { color: #730303; } */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--background-color);
}


/* Reset */
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* End Global Rules */
/* Start Components */
/* Start Main Title */
::selection {
  color:var(--background-color);
  background: var(--main-color);
}
/* End Selection */
/* End Components */
/* Start Responsive */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Responsive */

.container{
  display: flex;
  justify-content: center;
}
h1{
  color: var(--main-color);
  text-transform: capitalize;
  padding: 30px;
}